<div class="bootstrap-wrapper">
    <div class="container mt text-center">
        <h1>Welcome To Admin Panel</h1>
        <button (click)="getUserDetail()" mat-raised-button color="primary">Get UserDetail</button>
    </div>
    <div class="row">
        <div class="col-md-4">
            <app-userprofile></app-userprofile>
        </div>
        <div class="col-md-4">
            <app-userprofile></app-userprofile>
        </div>
        <div class="col-md-4">
            <app-userprofile></app-userprofile>
        </div>
    </div>
    
</div>

